body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
    font-family: "Outfit", sans-serif; 
    margin: 0;
}

body p {
    font-family: "Outfit", sans-serif;
}

.container {
    width: 630px;
    margin: 100px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.purple {
    font-family: "Outfit", sans-serif; 
    padding-top: 1px;
    padding-left: 10px; 
    padding-bottom: 15px; 
    background-color: hsl(330, 100%, 98%); 
    border-radius: 20px; 
}

.purple h4 {
    color: hsl(332, 51%, 32%); 
    margin-bottom: 0;
    padding-left: 20px;
}

.purple ul li {
    margin-top: 10px;
    margin-bottom: 5px; 
    padding-left: 20px;
    color: hsl(24, 5%, 18%);
}

.wengebrown {
    color:  hsl(14, 45%, 36%);
    font-size: 20px;
}

.containerlist ul {
    padding-left: 10px;
    font-family: "Outfit", sans-serif;
    margin-bottom: 25px;
}

.containerlist ul li {
    margin: 10px;
    padding-left: 10px;
}

.containerlist ul li::marker {
    color: brown;
  }

  .list ol {
    padding-left: 10px;
    font-family: "Outfit", sans-serif;
    margin-bottom: 25px;
  }
.list ol li {
    padding-left: 10px;
    margin: 7px;
  }

  .list ol li::marker {
    color: brown;  
    font-weight: bold;
}

table {
    font-family: "Outfit", sans-serif;
    width: 100%; 
    border-collapse: separate; 
    border-spacing: 0 1px; 
    border-bottom: none;
}

td {
    padding: 10px; 
    border-bottom: 1px solid #ccc; 
    color: brown;
    font-weight: bold;
}

td:first-child {
    color: black;
    font-weight: normal;
}

tr:last-child td {
    border-bottom: none; 
}

